.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 2000;
  height: 30px;
  position: fixed;
  top: 0;
  transition: all 1s ease;
  width: 100%;
}

.nav__burger {
  position: absolute;
  right: 90px;
  top: 35px;
  z-index: 2000;
  display: flex;
  align-items: center;
}

.nav__burger > p {
  font-weight: 500;
  font-weight: 10px;
  color: #fffee0;
  margin-right: 15px;
}

.nav__burgerBtn {
  width: 23px;
  height: 7px;
  border-top: 2px solid #fffee0;
  border-bottom: 2px solid #fffee0;
}

.nav__smallScreen {
  position: absolute;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  top: 0px;
  right: -300px;
  background-color: black;
  padding: 20px 25px;
  height: 100vh;
  max-width: 200px;
  transition: all 0.5s ease-in-out;
}

.navOpen {
  right: 50px;
}

.navOpen > ul {
  display: initial !important;
}

.nav__exitContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 15px;
}

.nav__smallScreen > ul {
  list-style: none;
  width: 80%;
  margin-top: 50px;
  margin-right: auto;
  padding-left: 10px;
  display: none;
}

.nav__smallScreen > ul > li {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  opacity: 0;
}

.nav > svg {
  height: 35px;
  fill: #fffee0;
  align-self: flex-start;
}

.nav__links {
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  height: 100%;
  max-width: 80vw;
  margin-right: 50px;
}

.nav__links > div {
  font-size: small;
  color: #fffee0;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.nav__links > div > span {
  padding: 9px;
}

.nav__links > div > ul {
  list-style: none;
  padding: 0;
  flex-direction: column;
  align-items: flex-end;
  display: none;
  position: absolute;
  top: 30px;
}

.shift-1 {
  left: -20px;
}

.shift-2 {
  left: -70px;
}
.shift-3 {
  left: -50px;
}
.shift-4 {
  left: -60px;
}

.nav__links > div:hover > ul {
  display: flex;
}

.nav__links > div > ul > li {
  padding: 15px 9px;
  font-weight: 400;
  position: relative;
  min-width: max-content;
  overflow: visible;
  opacity: 0;
}

.nav__links > div > span {
  display: inline-block;
  position: relative;
}

.nav__links > div > span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav__links > div > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav__links > div > span:hover::after,
.nav__links > div > ul > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav__primary-enter {
}

.nav__primary-enter-active {
}

.nav__primary-exit {
}

.nav__primary-exit-active {
}

@keyframes anim6 {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (min-width: 1020px) {
  .nav__burger {
    display: none;
  }
  .nav__smallScreen {
    display: none;
  }
}

@media only screen and (max-width: 1019px) {
  .nav__links {
    display: none;
  }
} ;
